/* style Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&family=Roboto:ital,wght@0,100;0,400;0,700;1,500&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-principal:#FFFF;
}


body{
    background: #FFFF;
    font-family: 'Open Sans', sans-serif;

}

/* utilities */

/* typography */
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

h1{
    font-size: 30px;
    font-weight: 200;
    line-height: 50px;
}

h2{
    font-size: 30px;
    line-height: 40px;
    line-height: 32px;
}


h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

h4{
    color: #757575;
    font-weight: 300;
    line-height: 29px;
    font-weight: 300;
    letter-spacing: 0,5px;
}


/*==================== navbar =================== */

.navbar .navbar-brand{
    font-weight: normal;
    font-size: 25px;
    color: #FFFF;
}
.navbar .collapse .navbar-nav .nav-link{
    color: #FFFF;
    font-size: 18px;
    
}



.navbar .navbar-brand .nav-link{
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0;
    text-transform: uppercase;
    transition: all ease-in-out 0.4s;
    
}



.home{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
}

.home video{

    /* para que el video sea fijo */
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;

    /* altura y ancho automatico */
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);

    background-size: cover;
    /* ajuste al tamaño del fondo */
    object-fit: cover;

    /* se desborda y se ocultara y no ver una barra de scroll */
    overflow: hidden;

  /* para mostrar el texto y el menu*/
  z-index: -100; 
}
.home .home-overlay{
height: 150vh;
width: 100%;
position: absolute;
top: 0;
left: 0;
background: #757575;
object-fit: cover;
background-size: cover;
/* z-index: -99; */
background: rgba(0, 0, 0, 0.50);
}

/*content vacio a nuestro menu*/
.navbar .collapse .navbar-nav .nav-link:hover{
    background: transparent;
    color: #FFFF;
}
.navbar .collapse .navbar-nav .nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: .3s ease;
}
.navbar .collapse .navbar-nav .nav-link:hover::after{
width: 100%;
background: #FFFF;
color: #FFFF;
}

.home {  
    color: #b9b7b7;
}
.home h1{
    font-size: 4rem;
    line-height:5rem ;
    padding-bottom: 25px;
}


.home-text{
    z-index: 99;
    /* border: 1px solid white; */
}